html {
	background-color: #CBF0F2;
	color: #42A5B3;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 80px;
	text-align: center;
	margin: 0 auto;
}
.container {
	width: 312px;
	margin: 0 auto;
}

.box {
  border: 2px solid #42A5B3;
  font-size: 64pt;
  height: 100px;
  width: 100px;
  text-align: center;
  float: left;
}

.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}